# Assembly artifacts
**/bin/
**/obj/
**/.vs/
**/publish/
.docker_cache/
.docker/
**/.msbuild
artifacts/efbundle
artifacts/*
**/*.user
**/*.suo
**/*.db
*.md
docker-compose*.yml
.env*
*.key

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider / JetBrains | Vscode
.idea/
.vscode/

# NuGet packets
**/*.nupkg
**/*.snupkg

# Logs and temporary files
*.log
*.tmp
*.temp

# System files
.DS_Store
Thumbs.db

# Enviroment files
.env
.env.*

# node_modules
node_modules/

# Test results / coverage
**/TestResults/
**/coverage/

# Certificate / Git files
*.pfx
.git
.gitignore
.github/