#deploy
APP_IMAGE_TAG=latest
COMPOSE_PROJECT_NAME=bookhub

# app
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_FORWARDEDHEADERS_ENABLED=true

# db
ConnectionStrings__DefaultConnection=Host=sql;Port=5432;Database=bookhub;Username=postgres;Password=supersecret
POSTGRES_USER=postgres
POSTGRES_PASSWORD=supersecret
POSTGRES_DB=bookhub

# jwt
JWT__Key=your-super-secret-jwt-key
JWT__Issuer=bookhub
JWT__Audience=bookhub-users

# smtp
Smtp__Host=mail.myapp.com
Smtp__Port=25
Smtp__Security=None
Smtp__From=bookhub.bot@gmail.com
