# app
APP_IMAGE_TAG=latest
COMPOSE_PROJECT_NAME=bookhub
ASPNETCORE_ENVIRONMENT=Production

# db
ConnectionStrings__DefaultConnection=Host=sql;Port=5432;Database=bookhub;Username=postgres;Password=supersecret
POSTGRES_PASSWORD=supersecret

# jwt
JWT__Key=your-super-secret-jwt-key
JWT__Issuer=bookhub
JWT__Audience=bookhub-users

# smtp
SMTP_PASSWORD=app-specific-gmail-password
Smtp__Password=app-specific-gmail-password
