<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/svg/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <title>Bookhub</title>
</head>
<body>
<img src="img/svg/Ellispes.svg" alt="background-ellipses" class="image-ellipse">
<img src="img/read-books-in-english.jpeg" alt="background-image" class="image-book-reading">
<img src="img/svg/Text.svg" alt="background-text" class="image-text">

<header>
    <div class="header">
        <div class="box">
            <div class="text-div">
                <div class="text-boxes">
                    <div class="text-box">
                        <a href="">
                            <div class="text-wrapper-yellow">
                                <div class="text">
                                    Sign up
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="text-box">
                        <a href="">
                            <div class="text-wrapper-blue">
                                <div class="text">
                                    Login in
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="logo">
    <a href="."><img src="img/svg/logo_main.svg" alt="Main logo" class="logo-image"></a>
</div>
<div class="search-form">
    <input type="text" class="search-form-txt" spellcheck="false" placeholder="Search for book or author">
    <button class="search-form-btn">
        <a href=".">
            <img src="img/svg/zoomer.svg" alt="image" class="search-form-image">
        </a>
    </button>
</div>
</body>
</html>