/*Fonts*/
@font-face {
  font-family: Gilroy-Medium-added;
  src: url('../fonts/Gilroy-Medium.ttf');
}
@font-face {
  font-family: Gilroy-SemiBold-added;
  src: url('../fonts/Gilroy-SemiBold.ttf');
}
@font-face {
  font-family: Gilroy-light-added;
  src: url('../fonts/Gilroy-Light.otf');
}
.image-text {
  position: fixed;
  width: 1450px;
  max-width: 100%;
  border-radius: 0 600px 0 0;
  z-index: 999;
}
.card-shopping-cart {
  height: 15rem; 
  width: 10.6rem; 
  background-color: var(--bg-translucent) !important;
}
.books-on-cart {
  width: 91%;
}
@media (max-width: 576px) {
  :root {
    --cart-width: 430px;
  }
  .search-form {
    width: 95% !important;
    left: 50%;
    transform: translateX(-50%);
  }
  .logo{
    width: 80% !important;
  }
  .image-text {
    z-index: -999;
    left: 45px;
    height: 926px;
    bottom: 125px;
    transform: scale(1.15);
    transform-origin: center;
  }
}
@media (min-width: 576px) {
  :root {
    --cart-width: 585px;
  }
  .image-text {
    left: 67px;
    height: 389px;
    bottom: 384px;
  }
}
@media (min-width: 768px) {
  :root {
    --cart-width: 740px;
  }
  .image-text {
    left: 145px;
    height: 395px;
  }
  .books-on-cart {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .image-text {
    left: 185px;
    height: 382px;
  }
}
@media (min-width: 1200px) {
  .image-text {
    left: 144px;
    height: auto;
  }
}
@media (min-width: 1400px) {
  .image-text {
    left: 62px;
    height: auto;
  }
}
.image-ellipse {
  position: fixed;
  pointer-events: none;
  top: 0;
  right: 0;
  z-index: 0 !important;
  max-width: 100%;
}
.auth-container {
  height: 100vh !important;
}
.reg-container {
  height: 100vh !important;
}
.errors-title {
  font-family: Gilroy-SemiBold-added;
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: bold;
  color: #9A2A2A;
}
.auth-title {
  font-family: Gilroy-SemiBold-added;
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: bold;
  color: #6474C9;
}
.auth-title-reg {
  position: absolute;
  top: -130px;
  left: 90px;
  font-family: Gilroy-SemiBold-added;
  font-size: 96px;
  font-weight: bold;
  color: #6474C9;
}
.auth-frame {
  color: black;
  border: 5px solid #6474C9;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.auth-frame-reg {
  width: 715px;
  height: 950px;
  color: black;
  border: 5px solid #6474C9;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.btn:hover {
  color: var(--secondary-hover);
}
kbd {
  color: var(--bg-primary);
  background-color: var(--text-primary);
}
.alert-success {
  color: var(--success-text);
  background-color: var(--success);
  border-color: var(--success-border);
}
.form-control:disabled, .form-control[readonly] {
  background-color: var(--disabled);
}
.form-control {
  color: var(--text-primary);
  background-color: var(--bg-input);
}
.form-control:focus {
  background-color: var(--bg-input-focus);
  border-color: var(--accent-color);
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 3px solid #6474C9;
  display: inline-block;
  cursor: pointer;
  border-radius: 15px;
}
.input-field {
  width: 90%;
  padding: 12px 20px;
  margin: 8px;
  height: 8%;
  display: block;
  border: 3px solid #6474C9;
  border-radius: 15px;
  box-sizing: border-box;
  font-family: Gilroy-Medium-added;
  font-size: 28px;
}
.small-text {
  font-family: Gilroy-light-added;
  font-size: clamp(1rem, 1vw, 2rem);
  color: #C9B964;
}
.small-text-primary {
  font-family: Gilroy-light-added;
  font-size: clamp(1rem, 1vw, 2rem);
  color: #6474C9;
}
.form-element {
  font-family: Gilroy-SemiBold-added;
  font-size: clamp(1.5rem, 1vw, 2rem);
  text-align: center;
  color: #6474C9;
  display: block;
}
.form-element-reg {
  font-family: Gilroy-SemiBold-added;
  font-size: clamp(1.5rem, 1vw, 2rem);
  text-align: center;
  color: #6474C9;
  display: block;
}
.input-validation-error {
  border-color: red !important;
  /*border-image: repeating-linear-gradient(*/
  /*        45deg,*/
  /*        red 0,*/
  /*        red 4px,*/
  /*        transparent 4px,*/
  /*        transparent 8px */
  /*) 1 !important;*/
}
.textbox-align {
  margin-left: 30px;
  width: 100%;
}
.login-button:hover,
.login-button:focus,
.reg-button:hover,
.reg-button:focus {
  background-color: #7d8bd7;
}
.form-field {
  display: block;
  margin: 1rem;
}
.image-ellipse-login {
  z-index: 999;
  position: fixed;
  bottom: 0;
  right: 0;
}


select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px;
  height: 8%;
  display: block;
  border: 3px solid #6474C9;
  border-radius: 15px;
  box-sizing: border-box;
  font-family: Gilroy-Medium-added;
  font-size: 28px;
}
.form-element {
  font-family: Gilroy-SemiBold-added;
  font-size: clamp(1rem, 2.5vw, 2rem);
  text-align: center;
  color: #6474C9;
}
.textbox-align {
  padding-left: 3rem;
  text-align: center;
}
.login-button {
  cursor: pointer;
  font-size: clamp(2rem, 5vw, 4rem);
  border-radius: 1.2rem;
  color: white;
  outline: none;
  background-color: #6474C9;
  font-family: Gilroy-SemiBold-added;
}
.reg-button {
  cursor: pointer;
  font-size: clamp(2rem, 5vw, 4rem);
  border-radius: 1.2rem;
  color: white;
  outline: none;
  background-color: #6474C9;
  font-family: Gilroy-SemiBold-added;
}
.login-button-reg {
  cursor: pointer;
  position: absolute;
  left: 0;
  bottom: 25px;
  font-size: 64px;
  color: white;
  outline: none;
  width: 100%;
  text-align: center;
  background-color: #6474C9;
  font-family: Gilroy-SemiBold-added;
}
.image-ellipse-login {
  position: fixed;
  bottom: 0;
  right: 0;
}
.image-book-reading {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 867px;
  max-width: 100%;
  height: 590px;
  border-radius: 0 600px 0 0;
  z-index: 999;
}
.header {
  max-height: 15%;
  z-index: 999;
}
.box {
  background: var(--bg-secondary);
  height: 4.5rem;
  width: 100%;
  box-shadow:0 4px 4px 0 rgba(0,0,0,0.16);
  border-radius: 5px 0 0 5px;
}
.text-wrapper-blue {
  border-radius: 11px;
  width: 7rem;
  height: 100%;
  background: #6474C9;

}
.text-wrapper-blue:hover {
  opacity: 0.95;
  border-radius: 11px;
  height: 120%;
  background: #6474C9;
}
.text-wrapper-yellow {
  border-radius: 11px;
  width: 7rem;
  height: 100%;
  background: #C9B964;
}
.text-wrapper-yellow:hover {
  opacity: 0.90;
  border-radius: 11px;
  height: 120%;
  background: #C9B964;
}
.text {
  color: white;
  font-family: Gilroy-Medium-added;
  font-size: 1.3rem;
}
a {
  color: var(--accent-color);
  text-decoration: none;
}
a:hover {
  color: var(--accent-hover);
}
.logo {
  position: fixed;
  left: 0;
  bottom: 40px;
  width: 481px;
  max-width: 100%;
  height: auto;
  background: white;
  border-radius: 0 6px 6px 0;
  z-index: 999;
}
.logo-image {
  padding: 30px 39px 39px 39px;
}
.search-form {
  background: #C1CAF4;
  border-radius: 41px;
  width: 70%;
  height: 107px;
  display: flex;
  align-items: center;
  border: 3px solid white;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.16);
  padding: 0 15px;
  z-index: 999;
  position: fixed;
  right: 130px;
  bottom: 211px;
}
.search-form-auth {
  border-radius: 41px;
  border: 0.2rem solid #C1CAF4;
}

.search-form-txt {
  border-radius: 41px;
  border: none;
  color: white;
  background: #C1CAF4;
  width: 100%;
  outline: none;
  font-size: 32px;
  padding: 5px;
}

.search-form-txt-auth {
  flex: 1 1 auto;
  min-width: 0;
  border-radius: 41px !important;
  border: none !important;
  color: #C1CAF4;
  outline: none;
  margin: 1px !important;
  padding: 0 !important;
}
.search-form-txt-auth::placeholder {
  color: #C1CAF4;
}

.search-form-btn {
  border: none;
  background: #C1CAF4;
  border-radius: 41px;
  margin-left: auto;
}
.search-form-btn-auth {
  flex: 0 0 auto;
  border: none;
  background: transparent;
}
.search-form-btn-auth:hover img,
.search-form-btn-auth:hover svg,
.search-form-btn-auth:focus img,
.search-form-btn-auth:focus svg {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}
.search-form-image {
  margin-left: auto;
  cursor: pointer;
}
.search-form-txt::placeholder {
  color: white;
}
/*Navigation bar*/
.container-nav {
  background: rgb(118,197,129);
  background: var(--bg-layout);
  font-size: 1.2rem;
  font-family: "Merriweather Sans", sans-serif;
  height: 8%;
  width: 100%;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.16);
  z-index: 999;
}
.navbar li {
  list-style-type: none;
}

.container .navbar ul li {
  padding: 10px;
  margin: 0 10px;
}

.navbar a {
  font-weight: bold;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.right-items-1-admin {
  position: absolute;
  right: 500px;
  margin-left: 1110px;
}
.right-items-2-admin {
  position: absolute;
  right: 400px;
  margin-left: 1110px;
}

/*Book item*/
.book-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
  gap: 40px 110px;
  margin-top: 38px;
  margin-left: 49px;
}
.book-image {
  border-radius: 16px;
}

.book-item {
  font-family: Gilroy-SemiBold-added;
  font-size: 16px;
  width: 186px;
  height: 347px;
  margin-right: 110px;
}
.book-item-box {
  box-sizing: border-box;
  padding: 5px;
}
.book-rating {
  display: inline-flex;
}
.rating-star {
  padding-left: 5px;
  padding-top: 5px;
}
.rating-score {
  padding-top: 8px;
  padding-left: 2px;
}
.book-title {
  font-size: 32px;
  padding-top: 4px;
  padding-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.author {
  color: #404040;
}
.header-progress {
  margin-top: 15px;
  margin-left: 25px;
  font-size: 40px;
  font-family: Gilroy-SemiBold-added, serif;
}
.line {
  padding-left: 10px;
  width: 98%;
}
/*Book Page*/
.book-page-image {
  border: #D9D9D9 10px solid;
}
.column {
  font-family: Gilroy-Medium-added, serif;
  font-size: 20px;
  padding-top: 30px;
  float: left;
  width: 33%;
  display: inline-flex;
  position: relative;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.first-column {
  box-sizing: border-box;
  padding-left: 30%;
  padding-right: 30%;
}
.second-column {
  box-sizing: border-box;
  padding-left: 10%;
  padding-right: 10%;
}
.third-column {
  box-sizing: border-box;
  padding-left: 15%;
  padding-right: 15%;
}
.vertical-line {
  height: 95%;
}
.author-name {
  font-family: Gilroy-SemiBold-added, serif;
  font-size: 32px;
}
.line-delimiter {
  width: 100%;
}
.sub-header {
  font-family: "Gilroy ExtraBold", serif;
}
.row-element {
  padding-bottom: 25px;
}
.author-image {
  height: 45px;
  width: 45px;
  border-radius: 25px;
}
.author-frame {
  margin-top: 5px;
  display: inline-flex;
}
.author-frame-name-review {
  margin-left: 10px;
  margin-top: 0;
}
.price {
  width: 100%;
  text-align: center;
  font-family: "Gilroy ExtraBold";
}
.text-black {
  color: black;
  padding-top: 16px;
  padding-bottom: 15px;
  text-align: center;
  font-family: "Gilroy ExtraBold";
  font-size: 32px;
}
.text-white {
  color: white;
  padding-top: 16px;
  padding-bottom: 15px;
  text-align: center;
  font-family: "Gilroy ExtraBold";
  font-size: 32px;
}
.line-delimiter-purchase {
  width: 100%;
}
nav.d-flex {
  overflow-x: clip;
}
.right-items-1-admin .dropdown-menu {
  display: none;
}
.right-items-2-admin .dropdown-menu {
  display: none;
}
/* Show dropdown menu on hover */
.right-items-1-admin:hover .dropdown-menu {
  display: block;
}

/* Alternatively, show dropdown menu on click for accessibility */
.right-items-1-admin .nav-link.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
  display: block;
}
/* Show dropdown menu on hover */
.right-items-2-admin:hover .dropdown-menu {
  display: block;
}

/* Alternatively, show dropdown menu on click for accessibility */
.right-items-2-admin .nav-link.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
  display: block;
}

.dropdown-toggle::after,
.custom-dropdown {
  transition: transform 0.3s ease;
}

.dropdown-toggle[aria-expanded="true"]::after,
.custom-dropdown[aria-expanded="true"] {
  transform: rotate(180deg);
}

.custom-dropdown::after {
  display: none;
}

.custom-dropdown:hover img {
  transform: scale(1.10);
  transition: transform 0.8s ease-in-out;
}

/*------Pablo Redaction Introduce-----*/
/*----What's Up, I'am Pablo, homie----*/
.search_results {
  position: fixed;
  left: 0;
  padding: 20px 45px 20px 60px;
  height: 85%;
  overflow: auto;
}
/* Стилизация полосы прокрутки */
.search_results::-webkit-scrollbar {
  width: 15px; /* Ширина полосы прокрутки */
}

.search_results::-webkit-scrollbar-track {
  background: #f1f1f1; /* Цвет фона полосы прокрутки */
}

.search_results::-webkit-scrollbar-thumb {
  background: rgb(206, 192, 115); /* Цвет полосы прокрутки */
}

.search_results::-webkit-scrollbar-thumb:hover {
  background: rgb(159, 147, 90); /* Цвет полосы прокрутки при наведении */
}
.sort_label {
  position: relative; /* Establish relative positioning for the parent container */
  font-size: 16px;
}
/*.books_results, .authors_results {*/
/*  margin-left: -350px;*/
/*  text-align: left;*/
/*  padding-left: -350px;*/
/*  margin-right: 200px;*/
/*  padding-right: 150px;*/
/*}*/
.books_results table {
  width: 100%;
}
#book_picture{
  width: 290px;
}
#book_tittle{
  width: 120px;
  padding-right: 20px;
  text-align: left;
}
#book_genres{
  width: 160px;
  padding-right: 20px;
  text-align: left;
}
#rotateButton {
  background: transparent;
  border: none;
  margin: 0;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
}
.pyramid {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 22px solid rgb(206, 192, 115);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease;
}
.pyramid.rotate {
  transform: translate(-50%, -50%) rotate(180deg);
}
.filterMenuButton {
  background-color: rgb(206, 192, 115);
  border: none;border-radius: 8px;
  padding: 4px 12px;
}
.filterPanel {
  z-index: 999;
  position: fixed;
  top: 73px; /* Adjusted top position */
  right: -300px; /* Initially hide the panel */
  width: 300px;
  height: 100%;
  background-color: var(--bg-mid-translucent); /* Translucent background */
  border-left: 1px solid var(--bg-tertiary); /* Add a border for better visibility */
  transition: right 0.3s ease; /* Add smooth transition effect */
}
/* Style the dropdown button */
.dropbtn {
  background-color: var(--accent-color);
  color: white;
  font-size: 16px;
  border: none;
}
.dropbtn:hover {
  color: white;
  background-color: var(--accent-hover);
}
.filterResetbtn {
  background-color: rgb(206, 192, 115);
  color: white;
  font-size: 16px;
  border: none;
  text-decoration: none;
}

.main-logo:hover,
.main-logo:focus {
  transform: scale(1.05);
}

.btn-primary {
  background-color: #6474C9;
  border-color: #7f92e1;
}
.btn-primary:hover {
  background-color: #7d8bd7;
  border-color: #6474C9;
}

.code-block {
  background-color: #1e1e1e;
  padding: 1rem;
  border-radius: 6px;
  overflow-x: auto;
  font-size: 0.9rem;
}

.info-text {
  font-family: Gilroy-light-added;
  color: var(--text-primary);
}

.nav-link {
  color: #6474C9;
}

.nav-link.active {
  background-color: rgb(206, 192, 115) !important;
}

#sortSelect {
  border: 2px solid #6474C9 !important;
}

.dropdown-menu li + li {
  margin-top: .5rem;
}

.main-nav-btn:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.no-caret-space::after {
  margin-left: 0;
}

.nav-link-admin {
  color: rgb(206, 192, 115);
}

.nav-link-admin:hover {
  color: var(--secondary-hover);
}

.hover a:hover {
  background-color: var(--bg-input);
}

.img-wrapper {
  position: relative;
  display: block;
  width: 100%;
  overflow: visible;
}
.img-hover {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  transition: width 0.6s ease-in-out, height 0.6s ease-in-out, box-shadow 0.2s;
}

.dropdown-filter {
  position: relative;
  display: inline-block;
}

.dropdown-filter-content {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 200px;
  background-color: var(--bg-secondary);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 6px;
  padding: 8px 0;
  z-index: 1001;
}

.dropdown-right {
  left: 0;
}

.dropdown-left {
  right: 0;
}

.dropdown-filter-content label {
  color: var(--text-primary);
}
.dropdown-filter-content label:hover {
  text-shadow:
          1px 1px 2px var(--text-primary),
          0 0 1em var(--text-secondary),
          0 0 0.2em var(--text-secondary);
}

.dropdown-filter:hover .dropdown-filter-content,
.dropdown-filter.open .dropdown-filter-content {
  display: flex;
  flex-direction: column;
}

.transparent-round-btn {
  background-color: transparent;
  border-color: transparent;
  border-radius: 50%;
}

.transparent-round-btn:hover {
  background-color: #6c757d;
}

.genre-chip.active-genre { text-decoration: underline !important; }

.delete-btn {
  color: red;
  border-radius: 50%;
  background-color: var(--bg-translucent);
}

.delete-btn:hover, .delete-btn:focus {
  transform: scale(1.1);
}

@keyframes spin-cw   { to { transform: rotate(360deg); } }
@keyframes spin-ccw  { to { transform: rotate(-360deg);} }
